@page 
@using WebSiteCinema.Pages.Shared
@using ORM
@using WebSiteCinema.DataStorage
@model WebSiteCinema.Pages.Order
@inject UnitOfWork UnitOfWork
@{
    var idStr = HttpContext.Request.Query["id"].ToString();
    if (idStr != "")
    {
        var id = int.Parse(idStr); 
        var session = await UnitOfWork.SessionRepository.GetById(id);
        var movie = await UnitOfWork.MovieRepository.GetByIdAsync(session.film_id);
        var places = await UnitOfWork.PlaceRepository.GetBySessionIdAsync(id);
        if (!places.Any())
        {
            await UnitOfWork.PlaceRepository.CreatePlacesAsync(session.id, 3, 15);
            places = await UnitOfWork.PlaceRepository.GetBySessionIdAsync(id);
        }

        <section class="content">
            <div class="film-page film-order">
                <h2>@movie.name</h2>
                @{
                    var timeTmp = session.time.ToString("g").Split(':');
                    var time = timeTmp[0] + ":" + timeTmp[1];
                }
                <div class="order-dates">
                    <span>Время сеанса: @session.date.ToString("dd MMMM yyyy") в @time</span>
                </div>

                <div class="order-places">
                    <div class="screen">Экран</div>
                    @{
                        for (int r = 1; r <= 3; r++)
                        {
                            <div class="custom-row">
                                <span class="row-number">Ряд @r</span>
                                @{
                                    for (int c = 1; c <= 15; c++)
                                    {
                                        var tmp = places.Where(p => p.name == string.Format("{0}-{1}-{2}", id, r, c)).FirstOrDefault().status;
                                        var str = tmp == (short) PlaceStatus.Reserved ? "style= opacity:0" : "";
                                        <a class="place-btn"data-place="1" @str data-row="1" href="#">@r-@c</a>
                                    }
                                }
                            </div>
                        }
                    }
                </div>
                <div class="order-summary">
                    <form class="order-summary-button" method="post">
                        <input type="text" placeholder="Введите номер места" class="form-control form-group" name="number">
                        <input type="text" value="@id" style="opacity:0" placeholder="Введите номер места" class="form-control form-group" name="session_id">
                        <input type="submit" class="btn submit-order" value="Забронировать" asp-page-handler="Order">
                    </form>
                    <div class="order-summary-text">

                    </div>
                </div>
            </div>
        </section>
    }
}
<script>
    var price = 150;
</script>
<script src="/js/jquery.js"></script>
<script src="/js/site.js"></script>